body {
    font-family: 'Ubuntu', sans-serif;
    background: #222222;
    margin: 0;
}

.header {
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* background: rgb(18, 18, 18); */
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(130px);
    backdrop-filter: blur(50px);
    z-index: 123;
}




.logo {
    float: left;
    padding-left: 23px;
    /* background-color: wheat; */
}

.logo h1 {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 20px;
}

.logo p {
    color: grey;
    font-size: 15px;
}




.navbar {
    padding-right: 10px;
    /* overflow: hidden; */
    /* background-color: wheat; */
    float: right;
}

.navbar a {
    float: right;
    align-self: center;

    display: block;
    color: grey;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}


.fullscreenSection {
    width: 100vw;
    height: 100vh;
    padding-left: 10vw;
    /* padding-top: 20vw; */
    /* position: absolute; */
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.fullscreenSection h1 {
    font-size: 35px;
    color: white;
}

.fullscreenSection h2 {
    font-size: 25px;
    line-height: 50%;
    color: white;
}

.fullscreenSection p {
    font-size: 18px;
    line-height: 00%;
    color: lightgrey;
    color: rgb(172, 172, 172)
}



.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color: white;
    text-align: center;
}

.glslCanvas {
    width: 100vw;
    height: 400vh;
    position: absolute;
    z-index: -1;
}







html {
    scroll-behavior: smooth;
}